{% extends 'base.html.twig' %}

{% block title %}Account #{{ account_id }}{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
        Account #{{ account_id }}
    </div>
</div>
{% endblock %}
