{% extends 'base.html.twig' %}

{% block title %}Your Accounts{% endblock %}

{% block body %}
<div class="card">
    <div class="card-header">
        Your accounts
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <th>#</th>
                <th>Name</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Giro</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>VisaCard</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>MasterCard</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
